<h1>New Entry</h1>

<%= form_with model: @entry, local: true, html: { multipart: true } do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :occurred_on %><br>
    <%= form.date_field :occurred_on %>
  </p>

  <p>
    <%= form.label :image, "Upload a photo (optional)" %><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.hidden_field :place_id, value: params[:place_id] %>
  </p>

  <p>
    <%= form.submit "Save Entry" %>
  </p>
<% end %>



